{#{% extends 'base.html.twig' %}#}
{% extends "WikicampersContactBundle::base.html.twig" %}

{% block title %}Formulaire{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<br>
    <section id="cover">
        <div id="cover-caption">
            <div id="container">
                <div class="col-sm-10 col-sm offset-1">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Formulaire de de demande</h4>
                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <button type="submit" class="btn btn-secondary">Envoyer</button>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
</section>
{% endblock %}
