
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="image">
    <img src="https://pngimage.net/wp-content/uploads/2018/06/orange-header-png.png" alt="imageHeader" >
</div>
<br>
<span class="preheader">{{ prenom }} {{ nom }} vous demande des informartions </span>
<p><h2>Description</h2></p>
<p>{{ description }}</p>
             <input class="btn btn-primary" type="button"value="Contacter" href="mailto:{{ mail }}">
<br>
<div class="image-footer">
    <img src="https://www.pngkit.com/png/full/253-2539875_orange-curve-line-png.png" alt="imageFooter">
</div>
</body>
</html>
